[BuilderBlock]
label = "Clients Section"
category = "Theme Blocks"
icon = "fa fa-user-o"
==
    <!-- ======= Clients Section ======= -->
<section id="clients" class="clients clients">
    <div >

        <div class="row">

            <div class="col-lg-2 col-md-4 col-6">
                <img src="/themes/pkurg-vesperr/assets/img/americancedar.jpg" class="img-fluid" alt="" data-aos="zoom-in">
            </div>

            <div class="col-lg-2 col-md-5 col-4">
                <img src="/themes/pkurg-vesperr/assets/img/GenesseeLumber.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="100">
            </div>

            <div class="col-lg-2 col-md-4 col-6">
                <img src="/themes/pkurg-vesperr/assets/img/hamilton.jpg" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="200">
            </div>

            <div class="col-lg-2 col-md-4 col-6">
                <img src="/themes/pkurg-vesperr/assets/img/heath-lumber.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="300">
            </div>

            <div class="col-lg-2 col-md-4 col-6">
                <img src="/themes/pkurg-vesperr/assets/img/niecelumber.jpg" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="400">
            </div>

            <div class="col-lg-2 col-md-4 col-6">
                <img src="/themes/pkurg-vesperr/assets/img/nuttle.jpg" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="500">
            </div>

        </div>

    </div>
</section><!-- End Clients Section -->
