[BuilderBlock]
label = "Header"
category = "Theme Blocks"
icon = "fa fa-window-maximize"
==
<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <div class="logo">
            <h1><a href="#hero"><img src="/themes/pkurg-vesperr/assets/img/mwblue.png"></a></h1>
            <h1><p style="color:#0F52BA">&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Hub App</p></h1>
            <!-- <a href="index.html"><img src="/themes/pkurg-vesperr/assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="getstarted scrollto" href="#about">Log in</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->
