[BuilderBlock]
label = "Hero Section"
category = "Theme Blocks"
icon = "fa fa-id-card-o"
==
  <!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h1 data-aos="fade-down">Top Quality Lumber</h1>
                <h1 data-aos="fade-right" data-aos-delay="400">Word Class Facility</h1>
                <h1 data-aos="fade-left" data-aos-delay="400">Personalized Service</h1>
                <div data-aos="fade-up" data-aos-delay="400">
                    <a href="#about" class="btn-get-started scrollto">Get Started</a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/ebMAfBLPIKU?si=YFINaty9KIjQmOIY"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                    encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </div>

</section<!-- End Hero -->
