[BuilderBlock]
label = "Services Section"
category = "Theme Blocks"
icon = "fa fa-object-group"
==
    <!-- ======= Services Section ======= -->
<section id="more-services" class="more-services">
    <div class="container">

        <div class="row">
            <div class="col-md-6 d-flex align-items-stretch">
                <div class="card" style='background-image: url("/themes/pkurg-vesperr/assets/img/home_treatedlumber.jpg");' data-aos="fade-up" data-aos-delay="100">
                    <div class="card-body">
                        <h5 class="card-title"><a href="">Treated Lumber</a></h5>
                        <p class="card-text">Our treated lumber consists of southern yellow pine, available in dimensions of 2×4-2×12, 8-20 foot, 4×4, 6×6, and 8×8’s.</p>
                        <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="card" style='background-image: url("/themes/pkurg-vesperr/assets/img/fence_post_sm.jpg");' data-aos="fade-up" data-aos-delay="200">
                    <div class="card-body">
                        <h5 class="card-title"><a href="">Fence Posts</a></h5>
                        <p class="card-text">Our line of pressure treated pine fence posts are cut to lengths of 7′, 8′, and 10′, ranging in diameter from 3″ to over 8″.</p>
                        <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Services Section -->
