.dashboard-box {
    border: #efefef 1px solid;
    border-radius: 5px;
    padding: 5px 30px;
    background: #ffffff;
    box-shadow: #efefef 0 0 4px 1px;
}

.small {
    width: 15vw;
    height: 15vh;
}

.medium {
    width: 33vw;
    height: 30vh;
}

.large {
    width: 55vw;
    height: 40vh;
}
