url = "/"
layout = "default"
title = "Index"
==
use PhpOffice\PhpSpreadsheet\Reader;

function onStart()
{
    $inputFileName = 'themes/madison/assets/excelTest.xlsx';
    $reader = new Reader\Xlsx();

    $spreadsheet = $reader->load($inputFileName);
    $this['data'] = $spreadsheet->getActiveSheet()->toArray('0', true, true, false);
}
==
<div>
    {% for row in data %}
        {% for cell in row %}
            <div>
                {{ cell }}
            </div>
        {% endfor %}
    {% endfor %}
</div>
